
# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see
# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  f {
    description: File...
    bindings {
      o {actionId: OpenFile, description: Open}
      n {actionId: NewElement, description: New}
      r {actionId: RecentFiles, description: Recent}
      c {actionId: RecentChangedFiles, description: Changed recently}
      s {actionId: SelectIn, description: Select in}
    }
  }
  c {
    description: Code...
    bindings {
      i {actionId: InspectCode, description: Inspect}
      t {actionId: InsertLiveTemplate, description: Template}
      g {actionId: Generate, description: Generate code}
      r {actionId: RefactoringMenu, description: Refactor this...}
      y {actionId: CopyReference, description: yank reference}
    }
  }
  g {
    description: GOTO...
    bindings {
      u {actionId: ShowUsages, description: Usages}
      p {actionId: GotoSuperMethod, description: Parent}
      D {actionId: QuickJavaDoc, description: Doc}
      i {actionId: QuickImplementations, description: Doc}
      I {actionId: GotoImplementation, description: Implementation}
    }
  }
  G {
    description: Git...
    bindings {
      d {actionId: Compare.SameVersion, description: Show difference }
      b {actionId: Git.Branches, description: Show Branches}
      c {actionId: Vcs.Show.Local.Changes, description: Show Changes}
      f {actionId: Git.Fetch, description: Fetch}
      p {actionId: Git.Pull, description: Pull}
      r {actionId: Git.Rebase, description: Rebase}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Stash}
      l {actionId: Vcs.Show.Log, description: Show Log}
    }
  }
  i {
    description: IntelliJ...
    bindings {
      s {actionId: ShowSettings, description: Settings}
      r {actionId: RestartIde, description: Restart}
      R {actionId: InvalidateCaches, description: Invalidate Caches And Restart}
      q {actionId: Exit, description: Quit}
    }
  }
  j {actionId: FileStructurePopup, description: Jump In Structure}
  p {
    description: Project...
   bindings {
      i {actionId: ImportProject, description: Import}
      c {actionId: CloseProject, description: Close}
      n {actionId: NewProject, description: New}
      s {actionId: ShowProjectStructureSettings, description: Structure}
    }
  }
  r {
    description: Run...
    bindings {
      c {actionId: ChooseRunConfiguration, description: Choose Run Configuration}
      c {actionId: ChooseDebugConfiguration, description: Choose Debug Configuration}
      r {actionId: Rerun, description: Rerun Latest}
      a {actionId: RunAnything, description: Run Anything}
      t {actionId: RerunTests, description: Rerun Tests}
      d {actionId: Debug, description: Debug}
      m {actionId: MakeModule, description: Make module}
    }
  }
  s {
    description: Search...
    bindings {
      a {actionId: GotoAction, description: action}
      f {actionId: FindInPath, description: Find in Files}
      r {actionId: ReplaceInPath, description: Replace in Files}
      y {actionId: GotoSymbol, description: Symbol}
    }
  }
  t {
    description: Buffer/Tabs Navigation...
    bindings {
      n {actionId: NewScratchBuffer, description: New Scratch Buffer}
      o {actionId: CloseAllEditorsButActive, description: Close Other}
      O {actionId: CloseAllEditors, description: Close All}
      r {actionId: RecentLocations, description: Recent Locations}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
    }
  }
  U {actionId: Unsplit, description: Unsplit}
  v {
    description: View...
    bindings {
      b {actionId: Annotate, description: Git Blame}
      d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
      f {actionId: ToggleFullScreen, description: Fullscreen }
      h {actionId: HideActiveWindow, description: Hide active window}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      s {actionId: Switcher, description: Switcher}
      w {actionId: HideAllWindows, description: Show/Hide All Windows}
      z {actionId: ToggleZenMode, description: Zen Mode}
    }
  }
}