"Do relative numbering.
set number relativenumber

" Ignore case for search. If search word contains upper case use case sensitive search.
set ignorecase smartcase

" Share clipboard with the system
set clipboard+=unnamed

" Do incremental searching. Searches text as you type.
set incsearch

" Show a few lines of context around the cursor.
set scrolloff=5

" Highlight searched words/patterns as you type
set hlsearch

" set timeouts.
" Note: Key codes are special keys like `<Esc>`, `<C-w>`, `<CR>`.
"       Key sequences are regular kes mapped for actions 'dd', 'gg=G'
" timeout  - set long timeout. This helps with allowing for long sequences like ',clear'
"          - also a long timeout is required by 'which-key' intellij plugin if installed.
set timeout timeoutlen=5000
" ttimeout - Quickly timeout keycodes
set ttimeout ttimeoutlen=300

"" Plugins  ----------------------------------------------------------------
""
set surround
set NERDTree

" which-key plugin shows the keycodes as a menu at the bottom of the window.
" It is really useful when you are learning newly configured keycodes and bindings.

"set which-key

"" Plugins not so useful
""
" set multicursor - most of the features provided by multicursor can be
"                   done using vanilla vim key strokes

"" Key bindings ----------------------------------------------------------
" Don't use Ex mode. 'Ex' mode in vim emulates old Ex editor. The default key to enter
" the mode is pressing Shift-Q.
"nmap Q <Nop>

"" -- Map IDE actions to IdeaVim --
"" -- Location of document on how to map Intellij Actions: https://jb.gg/abva4t

let mapleader = ","

nmap <C-n> <Action>(GotoClass)
nmap <C-S-n> <Action>(GotoFile)

" Breakpoints
nmap <leader>brkl <Action>(ToggleLineBreakpoint)
nmap <leader>brkt <Action>(ToggleTemporaryLineBreakpoint)

" Bookmarks
nmap <C-b><C-b>0 <Action>(ToggleBookmark)

nmap <C-b><C-b>1 <Action>(ToggleBookmark1)
nmap <C-b><C-b>2 <Action>(ToggleBookmark2)
nmap <C-b><C-b>3 <Action>(ToggleBookmark3)
nmap <C-b><C-b>4 <Action>(ToggleBookmark4)
nmap <C-b><C-b>5 <Action>(ToggleBookmark5)
nmap <C-b><C-b>6 <Action>(ToggleBookmark6)
nmap <C-b><C-b>7 <Action>(ToggleBookmark7)
nmap <C-b><C-b>8 <Action>(ToggleBookmark8)
nmap <C-b><C-b>9 <Action>(ToggleBookmark9)

nmap <C-b><C-b>a <Action>(ToggleBookmarkA)
nmap <C-b><C-b>b <Action>(ToggleBookmarkB)
nmap <C-b><C-b>c <Action>(ToggleBookmarkC)
nmap <C-b><C-b>d <Action>(ToggleBookmarkD)

" clear Highlight
nnoremap <leader>clear :nohl<CR>
nnoremap <leader>rno   :set relativenumber<CR>

" debug
nmap <leader>di <Action>(StepInto)
nmap <leader>do <Action>(StepOver)
nmap <leader>dO <Action>(StepOut)
nmap <leader>dr <Action>(Debugger.PopFrame)
nmap <leader>dc <Action>(Resume)

" move cursor between splits
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

inoremap <C-h> <Esc><C-w>hi
inoremap <C-l> <Esc><C-w>li

" Next Prev
nmap <C-i> <Action>(Back)
nmap <C-o> <Action>(Forward)

" close editor
nmap zz <Action>(CloseEditor)
nmap ZZ <Action>(CloseAllEditors)

" Zoom
nmap ]] <Action>(EditorIncreaseFontSize)
nmap [[ <Action>(EditorDecreaseFontSize)
nmap [] <Action>(EditorResetFontSize)

" recent
nmap <leader>rc <Action>(RecentChangedFiles)
nmap <leader>rf <Action>(RecentFiles)
nmap <leader>rl <Action>(RecentLocations)
nmap <leader>rt <Action>(ShowRecentTests)

" run program
nmap <leader>rr <Action>(Rerun)

" select file
nmap <leader>si <Action>(SelectIn)
nmap <leader>jb <Action>(JumpToLastWindow)

" Vim
nmap <leader>vrl <Action>(IdeaVim.ReloadVimRc.reload)

" NERDTree
nmap <leader>ntt :NERDTreeToggle<CR>

" navbar popup
nmap <leader>pp <Action>(NavbarPopupMenu)

" Open supermaven
nmap <C-S-i> <Action>(QuickImplementations)
nmap <C-S-a>i <Action>(EditWithSupermaven)

" Outline
nmap <C-S-o> <Action>(FileStructurePopup)

" Go to declaration
nmap gD <Action>(SplitVertically)<Action>(GotoDeclaration)
nmap gi <Action>(SplitVertically)

nmap <C-x> <Action>(MaximizeEditorInSplit)
nmap <C-S-p> <Action>(StretchSplitToLeft)
nmap <C-p> <Action>(StretchSplitToRight)
